<div class="container">
  <h1 class="mb-3">タスク管理</h1>

  <app-task-form></app-task-form>

  <h2 class="mt-4 mb-3">📝 現在のタスク</h2>
  <app-task-list
    [statusType]="'active'"
    [tasks]="taskService.activeTasks()"
  ></app-task-list>

  <h2 class="mt-4 mb-3" (click)="toggleCompletedView()" style="cursor: pointer">
    ✅ 完了済み
    <span
      [innerText]="showCompleted ? '▲' : '▼'"
      style="font-size: 0.8rem"
    ></span>
  </h2>
  <div *ngIf="showCompleted">
    <app-task-list
      [statusType]="'completed'"
      [tasks]="taskService.completedTasks()"
    ></app-task-list>
  </div>
</div>
