@use "../../../styles/variables" as *;

form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border-radius: $border-radius;
    border: 1px solid #ccc;
  }

  button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    cursor: pointer;
  }
}
