<ul
  *ngIf="tasks.length > 0"
  class="list-group"
  [ngClass]="{
    'task-list-active': statusType === 'active',
    'task-list-completed': statusType === 'completed'
  }"
>
  @for (task of tasks; track task.id) {
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="d-flex flex-grow-1 align-items-center">
      <input
        type="checkbox"
        class="form-check-input me-3"
        [checked]="task.status === 'completed'"
        (change)="onToggle(task)"
      />
      <span
        [style.textDecoration]="
          task.status === 'completed' ? 'line-through' : 'none'
        "
      >
        {{ task.title }}
      </span>
    </div>
    <button
      class="btn btn-danger btn-sm ms-2 align-self-center"
      (click)="onDelete(task)"
    >
      削除
    </button>
  </li>
  }
</ul>
